$background-color: #ebeef3;
$border-width: 2px;
$dark-who-blue: #185981;
$font-family: Roboto, Helvetica, sans-serif;
$table-header-color: #696969;
$table-header-size: 14px;
$title-border-color: #d3d3d3;
$reset-background: #ffffff;
$subtitle-border-color: #ebeef3;
$white: #ffffff;
$who-blue: #3499d8;

.active-route {
  background-color: $dark-who-blue;
}
.light-bottom-border {
  border-bottom: solid $border-width $subtitle-border-color;
}
.dark-bottom-border {
  border-bottom: solid $border-width $title-border-color;
}
